<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

            <h1>{{blog.title}}</h1>

            <div post="blog.post"></div>

            <button class="btn btn-primary" ng-repeat="tag in blog.tags" style="margin-right: 20px;">
                <i class="fa fa-tag" style="margin-right: 10px;"></i>
                {{tag}}
            </button>

            <!--<dir-disqus disqus_shortname="{{disqus.shortname}}" disqus_identifier="{{disqus.id}}" disqus_url="{{$location.url}}" disqus_category_id="{{disqus.categoryID}}"
            ready-to-bind="{{disqus.loaded}}" disqus_title="{{disqus.title}}" disqus_config_language="{{disqus.configLanguage}}" disqus_disable_mobile="{{disqus.disableMobile}}">
                </dir-disqus>-->

            <!--<div class="col-lg-2">
                    <table class="table">
                        <tr><td><div fb-like></div></td></tr>
                        <tr><td><div tweet></div></td></tr>
                        <tr><td><div google-plus></div></td></tr>
                    </table>
                </div>-->
        </div>
        <div class="col-lg-2"></div>

    </div>
</div>
