<div class="post-preview">
    <h1 class="post-title">{{blog.title}}</h1>

    <h3 ng-if="blog.subtitle" class="post-subtitle">{{blog.subtitle}}</h3>

    <div post="blog.post"></div>

    <br>

    <div class="post-meta">Posted by <a ng-href="/#/blogs">{{username}}</a> on {{getFormattedDate(blog)}}</div>
    <div class="post-meta">
        <i class="fa fa-tags"></i>
        <em ng-repeat="tag in blog.tags">
            <a class="tag-link" ng-href="/#/blogs/tags/{{tag}}">{{tag}}</a>{{$last ? '' : ', '}}
        </em>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-top: -5px;">
            <a facebook class="facebookShare" data-url='{{disqus.url}}' data-shares='shares'>{{ shares }}</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a twitter data-lang="en" data-count='horizontal' data-url='{{disqus.url}}' data-via='sumeetdas1992' data-size="medium" data-text='{{blog.title}}' ></a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='{{disqus.url}}' data-action='share'></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div linkedin class="linkedinShare" data-url='{{disqus.url}}' data-title='{{blog.title}}' data-summary="testing Linkedin Share" data-shares='linkedinshares'>{{linkedinshares}}</div>
        </div>
    </div>

    <br>

    <dir-disqus disqus_shortname="{{disqus.shortname}}" disqus_identifier="{{disqus.id}}" disqus_url="{{disqus.url}}"></dir-disqus>

</div>